<h1><%=@landmark.name%></h1>

<form action="/landmarks/<%=@landmark.id%>" method="post">
<input type="hidden" name="_method" value="patch">

  <label><h3>Edit Landmark Name</h3></label>
  <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">

  <label><h3>Edit Year Completed</h3></label>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>">
  <br>
  <br>
  <input type="submit" value="Edit Landmark">
</form>
